@model WebApplicationAssignment.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Customer Details : </h4>
        <table> 
            <tr>
                <td>@Html.DisplayNameFor(model => model.Id) : </td>
                <td>@Html.DisplayFor(model => model.Id)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name) : </td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DateOfBirth) : </td>
                <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Gender) : </td>
                <td>@Html.DisplayFor(model => model.Gender)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Email) : </td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Phone) : </td>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>
            <tr></tr>
        </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back", "Get", new { id = Model.Id })
</div>
