@model WebApplicationAssignment.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
                @Html.TextBoxFor(m => m.Name, null, htmlAttributes: new
                {
                    @class = "form-control"
                })
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <span asp-validation-for="Age" class="text-danger"></span>
                @Html.TextBoxFor(m => m.Age, null, htmlAttributes: new
                {
                    @class = "form-control"
                })
            </div>
            <div class="form-group">
                Gender &nbsp;
                    @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })<br>
                    @Html.Label("Male")
                    @Html.RadioButtonFor(model => model.Gender, "Male")&nbsp;&nbsp;&nbsp;
                    @Html.Label("Female")
                    @Html.RadioButtonFor(model => model.Gender, "Female")&nbsp;&nbsp;&nbsp;
                    @Html.Label("Other")
                    @Html.RadioButtonFor(model => model.Gender, "Other")
            </div>   
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
                @Html.TextBoxFor(m => m.Email, null, htmlAttributes: new
                {
                    @class = "form-control"
                })
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <span asp-validation-for="Phone" class="text-danger"></span>
                @Html.TextBoxFor(m => m.Phone, null, htmlAttributes: new
                {
                    @class = "form-control"
                })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Get">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
